<?xml version="1.0"?>
<ruleset>
  <rule ref="PSR12">
    <exclude name="PSR2.Classes.ClassDeclaration.OpenBraceNewLine"/>
    <exclude name="Squiz.Functions.MultiLineFunctionDeclaration.BraceOnSameLine"/>
  </rule>
  <rule ref="Generic.WhiteSpace.ScopeIndent">
    <properties>
      <property name="exact" value="true"/>
      <property name="indent" value="3"/>
    </properties>
  </rule>
  <file>src</file>
</ruleset>